<?xml version="1.0" ?>
<configuration>
  <!-- Uncomment if you are using the logback plugin for eclipse <consolePlugin/> -->

  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>[%p] [%thread] %logger - %msg%n</pattern>
    </encoder>
  </appender>
   
  <appender class="ch.qos.logback.core.FileAppender" name="FILE">
    <File>log/red5.log</File>
    <Append>false</Append>
    <encoder>
      <pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
   
  <root>
    <level value="TRACE"/>
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
   
  <logger name="org.springframework">
    <level value="INFO"/>
  </logger>
   
  <logger name="org.springframework.scheduling">
    <level value="WARN"/>
  </logger>
  
  <logger name="org.apache">
    <level value="INFO"/>
  </logger>
   
  <logger name="ch.qos">
    <level value="WARN"/>
  </logger>

  <logger name="org.test.Application">
     <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.CoreHandler">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.Client">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.persistence.FilePersistence">
    <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.service.WarDeployer">
     <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.BaseRTMPHandler">
     <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.RTMPHandler">
     <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.net.rtmpt.RTMPTConnection">
    <level value="TRACE"/>
  </logger>

  <logger name="org.red5.io.object.Serializer">
      <level value="INFO"/>
  </logger>

  <logger name="net.sf.ehcache">
      <level value="INFO"/>
  </logger>

  <logger name="org.quartz">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.status.StatusObjectService">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.io.utils.ConversionUtils">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.RTMPConnManager">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.io.utils.BufferUtils">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.io.amf.Input">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.api.Red5">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.service.ReflectionUtils">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.BaseConnection">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.RTMPMinaIoHandler">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.codec.RTMPMinaProtocolEncoder">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.scope">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.RTMPConnection">
      <level value="DEBUG"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.RTMPMinaConnection">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.codec.RTMPMinaProtocolDecoder">
      <level value="INFO"/>
  </logger>

  <logger name="org.red5.server.stream.RecordingListener">
    <level value="TRACE"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.InboundHandshake">
     <level value="TRACE"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.codec.RTMPProtocolEncoder">
      <level value="TRACE"/>
  </logger>

  <logger name="org.red5.server.net.rtmp.codec.RTMPProtocolDecoder">
      <level value="TRACE"/>
  </logger>

  <logger name="org.red5.server.stream.PlayEngine">
      <level value="TRACE"/>
  </logger>


</configuration>